<h1>
  Stupid Coaching
</h1>
<p class="alert w-25">
  <%= @question%>
  <br>
  -You
<p>
<p class="alert alert-warning w-25">
  <%= @answer%>
  <br>
  -Your Coach
</p>

<%= link_to "Ask a new question", ask_path %>
